In [1]:
import pandas as pd
import openpyxl
import os
import shutil
from validate_email_address import validate_email
from modules.get_path_sheet import get_latest_xlsx
ARQUIVO = get_latest_xlsx()

In [2]:
template = pd.read_excel(ARQUIVO)

In [3]:

# Supondo que o DataFrame original seja chamado de template
# Exclui a coluna "SERIE-TEMP"
template = template.drop("SERIE-TEMP", axis="columns")

In [5]:
# Supondo que você tenha o DataFrame chamado 'template'

# Definindo as colunas necessárias
colunas = [
    'Responsavel::Name', 'Responsavel::Email', 'ALUNO-NOME', 
    'Responsavel::ALUNO-NOME', 'ALUNO-UNIDADE', 
    'Responsavel::ESCOLA-UNIDADE', 'Responsavel::CIDADE-ASSINATURA', 
    'Responsavel::ESCOLA-CNPJ', 'Responsavel::ESCOLA-ENDERECO', 
    'Responsavel::ALUNO-SERIE', 'Responsavel::ALUNO-TURNO', 
    'Responsavel::ANUIDADE-TEXTO1X', 'Responsavel::ANUIDADE-TEXTO12X'
]

# Remoção das linhas onde todos os valores são NaN
df_cleaned = template.dropna(how='all')

# Mostrar o DataFrame limpo
df_cleaned.head()

,Responsavel::Name,Responsavel::Email,ALUNO-NOME,Responsavel::ALUNO-NOME,Responsavel::ALUNO-NASCIMENTO,ALUNO-UNIDADE,Responsavel::ESCOLA-UNIDADE,Responsavel::CIDADE-ASSINATURA,Responsavel::ESCOLA-CNPJ,Responsavel::ESCOLA-ENDERECO,...,Responsavel::PL-PAGTO-FLAG,Responsavel::FL1-END-ALUNO,Responsavel::ALUNO-COR,Responsavel::FL2-END-ALUNO,Responsavel::ALUNO-SEXO,Responsavel::FL1-PARENTESCO,Responsavel::FL2-PARENTESCO,Responsavel::LIV-CHECK,Responsavel::MD-CHECK,Responsavel::Signature Provider
0,Gianfranco Lucchesi,gianlucchesi@hotmail.com,Caterina Gardini Lucchesi,Caterina Gardini Lucchesi,NaN,São Paulo,São Paulo,São Paulo,20.151.362/0007-86,"R. José Antonio Coelho, 879 – Vila Mariana – SP",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Gianfranco Lucchesi,gianlucchesi@hotmail.com,Stella Gardini Lucchesi,Stella Gardini Lucchesi,NaN,São Paulo,São Paulo,São Paulo,20.151.362/0007-86,"R. José Antonio Coelho, 879 – Vila Mariana – SP",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
cidades = [
        ["Recife", "Recife"], 
        ["Brasília", "Brasília"], 
        ["São Paulo", "São Paulo"], 
        ["Barra", "Rio de Janeiro"], 
        ["Botafogo", "Rio de Janeiro"], 
        ["Urca", "Rio de Janeiro"]
    ]

In [20]:
print(cidade)
print(cidade_assinatura)

São Paulo
São Paulo

In [22]:
CIDADE_GLOBAL = ''

def teste():
    global CIDADE_GLOBAL
    cidade = 'sp'
    CIDADE_GLOBAL = cidade
    return f'teste'

print(teste())
print(CIDADE_GLOBAL)

teste
sp